@font-face {
	font-family: 'TheMix';
	src: url('TheMixC5-4_SemiLight.otf');
}

@font-face {
	font-family: 'SkautBold';
	src: url('SKAUT-Bold.otf');
}

html {
	height: 100%;
}

body {
	color: #000;
	background: #FFF;
	font-family: TheMix, Georgia, "Times New Roman", Times, serif;
	font-size: 26px;
	text-align: center;
	margin: 0;
	padding: 0;
	justify-content: center;
	flex-direction: column;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	font-family: SkautBold, Georgia, serif;
	margin: 0;
}

h1 {
	font-size: 60px;
	color: #000;
	line-height: 1;
}

h2 {
	font-size: 60px;
	/* text-transform: lowercase; */
}

h3 {
	font-size: 35px;
}

h4 {
	font-size: 25px;
	margin-bottom: 20px;
}

p {
	display: flex;
	justify-content: center;
	flex-basis: auto;
	max-width: 960px;
	margin: 40px auto;
	color: #000;
	line-height: 150%;
}

a, a:visited {
	color: #F0F0F0;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 10px;
}

a:hover {
	text-decoration: underline;
}

a.button {
	color: #FFF;
	font-weight: normal;
	font-style: normal;
	background-color: #D63220;
}

code {
	background-color: #000;
	font-style: normal;
	/* border-radius: 10px; */
	color: white;
	padding: 10px 16px;
}

/* menu */

nav {
	font-family: TheMix, Georgia, serif;
	flex: 0 0 auto;
	width: 100%;
	padding: 20px 0;

	background-color: #732813;

	position: fixed;
	top: 0;
	z-index: 20;
}

nav ul {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;

	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 0; /* cause normalize... */
}

nav ul li {
	flex-direction: row;
	margin: 0 5px;
	padding: 4px 8px;
}

/* images */

img.logo {
	width: 300px;
}

/* team */

div.teamProfiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-basis: auto;
	max-width: 960px;
	margin: 0 auto;
}

div.memberProfile {
	margin: 40px 0;
}

img.faceImage {
	width: 200px;
	border-radius: 10px;
}

/* content */

div.content {
	flex: 1 1 auto;
	position: relative;
	overflow-y: auto;

	/* so far Firefox only */
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
	margin-top: 81px;
}

.scrollblock {
	position: relative;
	margin: 0;
	width: 100%;
	color: white;
	padding-top: 80px;
	padding-bottom: 80px;
}

div.landing {
	background-color: #F0F0F0;
	color: #000;
	padding-bottom: 50px;
	padding-top: 20px;
}

div.landing h2 {
	color: #000;
}

div.landing h3 {
	color: #000;
}

div.cej2018 {
	background-color: #007BC2;
}

div.cej2018 h2 {
	color: #211E66;
}

div.cej2018 h3 {
	color: #211E66;
}

div.cej2018 p {
	color: #211E66;
}

div.cej2018 code {
	color: white;
	background-color: #211E66;
}

div.program {
	background-color: #211E66;
}

div.program h2 {
	color: #007BC2;
}

div.program h3 {
	color: #007BC2;
}

div.program p {
	color: white;
}

div.program code {
	background-color: #007BC2;
	color: black;
}

div.patrol {
	background-color: #5E2281;
}

div.patrol h2 {
	color: #df91c9;
}

div.patrol h3 {
	color: #DF91C9;
}

div.patrol p {
	color: white;
}

div.patrol code {
	background-color: #DF91C9;
	color: #000;
}

div.faq {
	background-color: #732813;
}

div.faq h2 {
	color: #B85637;
}

div.faq h3 {
	color: white;
}

div.faq p {
	color: white;
}

div.faq code {
	color: #000;
	background-color: #B85637;
}

div.registration {
	background-color: #EE8027;
}

div.registration h2 {
	color: #732813;
}

div.registration h3 {
	color: #732813;
}

div.registration p {
	color: #732813;
}

div.contact {
	background-color: #ffc19f;
}

div.contact h2 {
	color: #732813;
}

div.contact h3 {
	color: #732813;
}
div.contact p {
	color: #732813;
}

div.contact code {
	color: #FFF;
	background-color: #732813;
	padding: 10px 15px;
}

div.team {
	background-color: #D4B66D;
}

div.team h2 {
	color: #5D4716;
}

div.team h3 {
	color: #5D4716;
}

div.team h4 {
	color: #8D5F0F;
}

div.footer {
	background-color: white;
	color: #000;
	font-size: small
}

div.footer h2 {
	color: #666;
}

div.footer h3 {
	color: #666;
}

img.narrowPhoto {
	object-fit: cover;
	height: 200px;
	width: 100%;
	border-radius: 0;
}

.active {
	background: black;
	border-radius: 5px;
}